.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--dashboard-black);
}

.container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background: #fff;
  overflow: auto;
  height: calc(100vh - 98px);
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.welcome-container img {
  max-width: 100%;
}