:root {
    --black: #1a131a;
    --brown: #413738;
    --yellow: #deb012;
    --orange: #e59313;
    --error: #dc3545;
    --blue: #0075E1;
    --dark-blue: #1257A9;
    --dashboard-black: #252526;
}