.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.profile-container-left {
  flex: 0 0 auto;
}

.profile-container-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-input {
    flex: 1;
}

@media (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
}